<ul class="item-list">
    {% if previous %}
  <li class="menu-pager-previous">{{ previous }}</li>
    {% endif %}
    {% if next %}
  <li class="menu-pager-next"> {{ next }}</li>
    {% endif %}
</ul>
